@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(211, 211, 211);
}

menu{
    margin-bottom: 10px;
    display: block;
    background-color: rgba(47, 79, 79, 0);
}

menu > ul{
    list-style-type: none;
    border-radius: 10px;
}

i#burguer{
    background-color: rgba(20, 20, 20, 0.726);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

header{
    background-color: gray;
    margin-bottom: 10px;
    
}

header > h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

li{
    list-style: none;
    background-color: rgb(61, 61, 61);
    text-align: center;
    padding: 10px;
    border-top: 1px solid  rgb(129, 129, 129);
    color: white;
}


li:hover{
    background-color: rgb(146, 146, 146);
}

main{
    padding: 20px;
    display: block;
    margin: auto;
    background-color: white;
    width: 85vw;
    border-radius: 10px;
}

p{
    text-indent: 20px;
    text-align: justify;
    line-height: 20px;
}