*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: face;
    src: url(fontes/idroid.otf);
}
p{
    line-height: 2;
    text-indent: 30px;
}
.p1{
    line-height:1.3;
}
.tituloprincipal{
    color: #002712;
    font-family:face ;
}
h2{
    border-radius: 1px;
    margin-left: 10px;
    padding-left: 19px;
    font-size: 19px;
    width: 800px;
    height: 25px;
    font-family:face ;
    background-image: linear-gradient(to right, #0e8847,rgba(7, 170, 48, 0.719), transparent);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 220, 123) ;
}

header{
    height: 170px;
    text-align: center;
    background-image: linear-gradient(#34c073,#0a2717);
}
header > p{
    color: white;
    text-align: center;
}
header h1{
    color: white;
    padding: 20px;
}
nav{
    padding-left: 10px;
    margin-top: 15px;
    text-align:left;
    padding-bottom: 10px;
    padding-top: 3px;
}
nav > a{
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgba(0, 216, 72, 0.637);

}

nav > a:hover{
    color: white;
    border-radius: 4px;
    background-color: #2FA765;
}
.container{
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.384);
    margin: auto;
    background-color: white;
    max-width: 870px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 15px;
}
.paragrafo,h1,img{
    padding: 12px;
}
.bugdroid{
    display: block;
    margin: auto;
}
.video{
   padding: 0%;
   text-align: center;
   background-color: #002712;
   height: 450px;
}
iframe{
    width: 750px;
    height: 430px;
    padding-top: 20px;
    max-width: 95%;
   display: block;
   margin: auto;
}
.lista{
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.603);
    border-radius: 10px 10px 10px 10px;
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 95%;
    height: 100%px;
    max-height: 100%;
    background-color: #5ae498;
}
.titulo-lista{
    color: white;
    font-size: 25px;
    border-radius: 10px 10px 0px 0px;
    background-color: #002712;
}
.list{
    list-style: none;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
}
li::before{
    content: "✔";
    margin-right: 10px;

}
.rodape{
    padding: 10px;
}
.ultimo{
    padding: 20px;
    text-align: center;
}
.links{
    font-weight: bold;
    text-decoration: none;
    color: #000502;
    background-color: #34c073;
    padding: 6px;
    border-radius: 2px;
}
.links:hover{
    background-color: #299459;
}
.link-bugdroid{
    font-weight: bolder;
    text-decoration: none;
    color: #003318;
}
.link-bugdroid2::after{
    content: "🔗";
}
.link-bugdroid2{
    font-weight: bolder;
    text-decoration: none;
    color: #003318;
}
.link-bugdroid2:hover{
    text-decoration: underline;
}
.link-bugdroid:hover{
    text-decoration: underline;
}
.links::after{
    content: "🔗";
}
footer{
    padding: 1px;
    text-align: center;
    color: white;
    background-color: #002712;
}
.footer-link{
    padding-left: 2px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.footer-link:hover{
    text-decoration: underline;
    color: rgb(165, 165, 165);
}